:root{
  --bgColor: #fff;
  --purpleGradientColor: #A6E3E9;
  --whiteColor: #F2F2F2;
  --blackColor: #71C9CE;
}
*, body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", Sans-Serif;
}
.container{
  width: 100%;
  height: 100vh;
  padding-top: 30px;
  background: var(--purpleGradientColor);
  position: fixed;
  overflow: scroll;
}
.title{
  background-color: var(--whiteColor);
  width: 90%;
  height: 17%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1rem;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.200);
  text-shadow: 3px 3px 2px rgba(0,0,0,0.100);
 
  color: #21242A;
}
.nav{
  background-color: var(--whiteColor);
  border-radius: 10px;
  margin-top: 20px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
  font-size: 1.5vw;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.200);
}
.nav ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav ul li{
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s;
}
.nav ul li a{
  text-decoration: none;
  color: #21242A;
}
.nav ul li:hover{
  background: var(--blackColor);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.200);
  color: var(--whiteColor);
}
.active{
  background: var(--blackColor);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.200);
  color: var(--whiteColor);
}
.daftar-siswa{
  background: var(--whiteColor);
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.200);
}
.daftar{
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}
.daftar .box-daftar{
  width: 155px;
  height: 210px;
  background: rgb(191,191,191);
  background-position: center;
  background-size: cover;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.200);
  transition: 0.3s ease-out;
  text-align: center;
  overflow: hidden;
}
.daftar h1{
  font-size: 18px;
}
.daftar p{
  font-size: 12px;
  font-weight: 500;
}
.daftar .box-daftar:hover{
  transform: scale(1.05);
}
.info-siswa{
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.800));
  margin-top: 90px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(120px);
  transition: 0.3s ease-out;
  text-transform: capitalize;
  color: #fff;
}
.daftar .box-daftar:hover .info-siswa {
  transform: translateY(0);
}
.gallery{
  width: 90vw;
  padding: 10px;
  background: var(--whiteColor);
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 10px;
  overflow: scroll;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.200);
}
.gallery .box{
  width: 100%;
  height: 170px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.gallery .box div{
  background: rgb(191,191,191);
  width: 400px;
  height: 100%;
  margin: 15px;
  margin-top: 0;
  margin-bottom: 0;
  flex: 0 0 330px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.200);
  scroll-snap-align: center;
}
.jadwal{
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding: 10px;
  padding-bottom: 50px;
  border-radius: 10px;
  background: var(--whiteColor);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.200);
  display: flex;
  flex-wrap: wrap;
}
.jadwal div{
  background: var(--blackColor);
  text-align: center;
  color: var(--whiteColor);
  text-shadow: 3px 3px 2px rgba(0,0,0,0.200);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.200);
  font-weight: 500;
  width: 155px;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  flex-grow: 1;
}
.jadwal ul{
  list-style: none;
  text-transform: capitalize;
}
.jadwal h1{
  text-transform: uppercase;
}
@media(min-width:480px){
  .nav{
    padding: 10px;
  }
  .nav ul li{
    border-radius: 15px;
  }
  .daftar-siswa{
    border-radius: 15px;
  }
  .jadwal{
    border-radius: 15px;
  }
}